<h1>Hi Tutu - Rails</h1>
<nav>
	<ul>
		<li><%= link_to 'Список Станций', railway_stations_path %></li>
		<li><%= link_to 'Список Поездов', trains_path %></li>
		<li><%= link_to 'Список Маршрутов', routes_path %></li>
	</ul>
</nav>
