<h2>Пассажир</h2>
<p>
  <p><b>Пассажир:</b> <%= @passanger.name %></p>
  <p><b>Билеты:</b></p>
  <table>
    <thead>
      <tr>
        <th>Маршрут</th>
        <th>№ Поезда</th>
        <th>Место</th>
        <th>Покупатель:</th>
        <th>Билет на пассажира:</th>
        <th>Ссылки</th>
      </tr>
    </thead>

    <tbody>
      <%= render @passanger.tickets if @passanger.tickets %></p>
    </tbody>
  </table>


</p>

<%= link_to 'Редактировать', edit_admin_passanger_path(@passanger) %> |
<%= link_to 'Назад', admin_passangers_path %>
