<tr>
  <td><%= passanger.name %></td>
  <td><%= link_to 'Просмотреть', passanger %></td>
  <td><%= link_to 'Редактировать', edit_passanger_path(passanger) %></td>
  <td><%= link_to 'Удалить', passanger, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
